:root {
	--brand-color: #4d5ae5;
	--main-color: #2e2f42;
	--second-color: #f4f4fd;
	--third-color: #434455;
	--fourth-color: #404bbf;
	--title-font-weight: 700;
	--main-padding: 20px;
	--main-content-width: 1168px;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: 400;
	background-color: #fff;
	color: var(--font-color);
	letter-spacing: 0.02em;
}

* {
	box-sizing: border-box;
}

.block-centered {
	width: var(--main-content-width);
	max-width: 100%;
	margin-inline: auto;
	padding-inline: var(--main-padding);
}

/* Page header */
header {
	margin-inline: auto;
	padding: 24px var(--main-padding);
	width: var(--main-content-width);
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .logo-and-navigation {
	display: flex;
	align-items: center;
	flex-direction: row;
	column-gap: 77px;
}

header nav ul {
	display: flex;
	flex-direction: row;
	column-gap: 40px;
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav ul a {
	font-size: 16px;
	text-decoration: none;
	color: var(--main-color);
	font-weight: var(--title-font-weight);
}

header nav ul a:hover {
	color: var(--third-color);
}

header nav ul a:focus {
	color: var(--brand-color);
}

header nav ul a.active {
	color: var(--brand-color);
}

header .contacts {
	display: flex;
	flex-direction: row;
	column-gap: 40px;
	list-style: none;
	padding: 0;
	margin: 0;
}

header .contacts a {
	font-size: 16px;
	text-decoration: none;
	color: var(--main-color);
}

.logo a {
	font-size: 18px;
	font-weight: 800;
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

.logo span {
	color: var(--brand-color);
}

/* Main content */
.top-block {
	background-color: var(--main-color);
	color: #fff;
	padding: 190px var(--main-padding);
	text-align: center;
}

.top-block button {
	border: none;
	background-color: var(--brand-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 16px 32px;
	color: #fff;
	font-size: 16px;
	font-weight: var(--title-font-weight);
	letter-spacing: 0.04em;
	cursor: pointer;
}

.top-block button:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.top-block button:focus {
	background-color: var(--fourth-color);
}

h1 {
	font-size: 56px;
	font-weight: var(--title-font-weight);
	line-height: 1.07;
	margin-block: 0 50px;
}

.features {
	padding-block: 120px;
}

.features h3 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: var(--title-font-weight);
	margin-block: 0 10px;
}

.features ul {
	display: flex;
	flex-direction: row;
	column-gap: 24px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.features p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
}

.what-are-we-doing {
	padding-bottom: 120px;
}

.what-are-we-doing h2 {
	font-size: 36px;
	line-height: 1.11;
	text-transform: capitalize;
	font-weight: var(--title-font-weight);
	margin-block: 0 70px;
	text-align: center;
}

.what-are-we-doing ul {
	display: flex;
	flex-direction: row;
	column-gap: 24px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.what-are-we-doing img {
	width: 100%;
}

.our-team {
	padding-block: 120px;
	background-color: var(--second-color);
}

.our-team h2 {
	font-size: 36px;
	line-height: 1.11;
	text-transform: capitalize;
	font-weight: var(--title-font-weight);
	margin-block: 0 70px;
	text-align: center;
}

.our-team ul {
	display: flex;
	flex-direction: row;
	column-gap: 24px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.our-team ul li {
	background-color: #fff;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.our-team img {
	width: 100%;
}

.our-team p.name {
	text-align: center;
	margin-block: 32px 10px;
	font-size: 20px;
	line-height: 1.2px;
	font-weight: var(--title-font-weight);
}

.our-team .position {
	text-align: center;
	margin-bottom: 32px;
}

/* Portfolio */

.filter-buttons {
	display: flex;
	justify-content: center;
	margin-block: 96px 72px;
}

.filter-buttons ul {
	display: flex;
	flex-direction: row;
	column-gap: 24px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.filter-buttons ul li {
	display: flex;
}

.filter-buttons ul li button {
	background-color: #f4f4fd;
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	padding: 12px 24px;
	cursor: pointer;
	color: var(--brand-color);
}

.filter-buttons ul li button.active {
	background-color: var(--brand-color);
	color: #fff;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border: none;
}

/* Project cards */

.project-cards {
	display: flex;
	margin-bottom: 120px;
}

.project-cards ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 24px;
	row-gap: 48px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.project-cards ul li {
	display: flex;
}

.project-cards ul li a {
	display: flex;
	flex-direction: column;
	border: 0.5px solid #f4f4fd;
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-cards .image-text-wrapper {
	position: relative;
}

.project-cards .image-text-wrapper img {
	float: left;
	width: 100%;
}

.project-cards .image-text-wrapper p {
	position: absolute;
	top: 0;
	height: 100%;
	padding: 40px 32px 0 32px;
	margin: 0;
	color: #f4f4fd;
	font-size: 16px;
	line-height: 1.5;
	display: none;
	background-color: var(--brand-color);
}

.project-cards .image-text-wrapper.back-side {
	background-color: var(--brand-color);
}

.project-cards .image-text-wrapper.back-side img {
}

.project-cards .image-text-wrapper.back-side p {
	display: block;
}

.project-cards h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2x;
	margin: 32px 16px 8px 16px;
	text-align: left;
}

.project-cards a > p {
	font-size: 16px;
	line-height: 1.5;
	color: var(--third-color);
	margin: 0 16px 32px 16px;
}

/* Page footer */

footer {
	padding: 100px var(--main-padding);
	background-color: #2f303a;
}

footer .logo a {
	color: #fff;
}

footer .text {
	max-width: 264px;
	width: 100%;
	font-size: 16px;
	line-height: 1.5;
	margin-block: 16px 0;
	color: #fff;
}
